/* remove the trigger and the mouse-cursor-hand from groupable-grid-headers */
.x-grid-group-hd {
    border-bottom: 2px solid #99bbe8;
    cursor:default;
    padding-top:6px;
}
.x-grid-group-hd div {
    background-image: none;
    padding:4px 4px 4px 4px;
    color:#3764a0;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
}

.x-grid3-col-topic {
    padding-left: 10px;
}

a {
    color: #B02727;
}