#sf_admin_container table {
  margin-bottom: 0;
}

.required label em {
  display: block;
  color: #933 !important;
  font-weight: bold !important;
  font-size: 75%;
  text-transform: uppercase;
}

.x-form-combo-label {
  width: 'auto' !important;
  float: none !important;
  clear: none !important;
  display: inline !important;
  margin-left: 25px;
}

.x-grid-group-body-hide {
  display: none
}

.no-tabs .x-tab-panel-header-disabled {
  display: none
}

.highTabs .x-tab-strip span {
  height: 45px;
}

/* start formatLongstring */
/* whitespace normal for grids using formatLongstring renderer */
.x-grid3-cell-wrap .x-grid3-cell-inner {
  white-space: normal;
}
/* end formatLongstring */

/* start checkboxfix */
/* css fix to make IE and Firefox checkbox's look the same */
.x-form-check-wrap,.x-form-radio-wrap {
  padding: 1px;
}
/* end checkboxfix */ /*

